<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOADBACK</title>
    <style>
        body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #45a049;
}

    </style>
  </head>
  <body>
    <h1>Successfully registered</h1>
    <br>
    <h2>Back to home Page</h2>
    <br>
    <form action="/" method="get">
        <button>HOME</button>
    </form>
	<script src=""></script>
  </body>
</html>